.Navigation {
  display: flex;
  margin-top: 32px;
}

.link {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: inline-block;
  transition: color 0.1s ease-out;
  position: relative;
  height: 25px;
}

.link:hover {
  color: #F26E6E;
}

.link + .link {
  margin-left: 20px;
}

.link.active {
  border-bottom: 2px solid #FCDB06;
}

